<html>
  <h1>Update {{powers.Name}}:</h1>
  <form id="update-power" action="/viewPow" method="post">
        <input type="hidden" value={{powers.ID}} name="id">
      Name: <input type="text" name="Name" value="{{powers.Name}}"><br>
      Category: <select type="text" name="Category" value="{{powers.Category}}">
            <option>Mental</option>
            <option>Physical</option>
            <option>Supernatural</option>
        </select><br>
  </form>
  <button onclick="updatePow({{powers.ID}})">Update</button>
</html>
