<!DOCTYPE html>
<html>
<head>
    <title> Marvel Characters</title>
  <link rel="stylesheet" href ="database.css">
</head>
<h3>Marvel Characters</h3>
<div class="topnav">
    <a href=" /index.html"> Home </a>
    <a href="/viewChar">View Characters</a>
    <a href="/addChar"> Add a Character </a>
    <a href="/viewLoc">Add a Location </a>
    <a href="/viewGrp"> Add a Group </a>
    <a href="/viewPow"> Add a Power </a>
</div>

<table>
    <thead> 
        <th>ID</th>
        <th>First Name</th> 
        <th>Last Name</th>
        <th>Alias</th> 
        <th>Race</th>
        <th>Location</th>  
    </thead> 
    <tbody>
        {{#each people}} 
        <tr> 
            <td>{{ID}}</td>
            <td>{{FName}}</td> 
            <td>{{LName}}</td> 
            <td>{{Alias}}</td>
            <td>{{Race}}</td> 
            <td>{{City}}, {{Region}}</td>
            <td><button onclick="deletePerson({{ID}})">Delete</button></td>
            <td><a href="/viewChar/{{ID}}">Update</a></td>
        </tr> 
        {{/each}} 
    </tbody> 
</table> 
</html>
