Characters in {{data.Name}}:
<table>
        <thead>
        <th>Name</th>
        <th>Alias</th>
        </thead>
        <tbody>
            {{#each data}}
            <tr>
                <td>{{FName}} {{LName}}</td>
                <td>{{Alias}}</td>
                <td><button onclick="deleteGrpChar({{pepID}},{{grpID}})">Delete</button></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
Add Character to this Group:
    <form id="addgrpchar" action="/viewGrp/Char" method="post">
        Alias: <select type="text" value={{pepID}} name="Alias">
            {{#each people}}
            <option>{{Alias}}</option>
            {{/each}}
            </select><br>
        <input type="hidden" value={{grpID}} name="grpid">{{grpID}}</input>

        <input type="submit" value="Submit">
    </form>