<html>
<head>
    <link rel="stylesheet" href="database.css">
</head>

People who have {{Name}}:
<table>
    <thead>
    <th>Name</th>
    <th>Alias</th>
    </thead>
    <tbody>
        {{#each data}}
        <tr>
            <td>{{FName}} {{LName}}</td>
            <td>{{Alias}}</td>
            <td><button onclick="deletePowChar({{pepID}},{{powID}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>
    Add Character to this Group:
<form id="addpowchar" action="/viewPow/Char" method="post">
    Alias: <select type="text" name="Alias">
        {{#each people}}
        <option value={{ID}}>{{Alias}}</option>
        {{/each}}
    </select><br>
    <input type="hidden" value={{powID}} name="powid"></input>

    <input type="submit" value="Submit">
    
</form>
<button onclick="window.location.href='/viewPow/'">Go Back</button>
</html>